:root {
  --branding-color: #6c63ff;
  --secondary-color: #f9f7fe;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

body {
  font-family: var(--default-font-family);
  margin-bottom: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
  font-weight: bold;
}

h1 {
  font-size: 96px;
}

.hero {
  background: var(--secondary-color);
  text-align: center;
  padding: 160px 20px;
}

.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  color: #272142;
}

.hero h2 {
  font-weight: normal;
  font-size: 24px;
  line-height: 2;
  color: #272142;
}

.btn-branding,
.btn-branding-outline {
  border-radius: 4px;
  line-height: 27px;
}

.btn-branding {
  color: white;
  background: var(--branding-color);
  padding: 16px 40px;
  font-size: 18px;
}

.btn-branding-outline {
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
  padding: 14px 30px;
  font-size: 15px;
}

.content-container {
  padding: 160px 20px;
}

.content {
  margin: 30px;
}

.content-container h1 {
  font-size: 64px;
  line-height: 80px;
}

.secondary-heading {
  font-size: 18px;
  font-family: var(--default-font-family);
}

img.marina {
  border-radius: 20px;
}

.logo {
  max-height: 80px;
}

nav {
  padding: 0;
}

nav ul {
  padding: 0;
  margin: 0;
}

nav li {
  display: inline;
  line-height: 80px;
  margin-left: 15px;
}

nav a {
  text-decoration: none;
  color: #272142;
  transition: all 100ms ease-in-out;
}

nav a:hover,
nav li.active a {
  color: var(--branding-color);
}

@media (max-width: 960px) {
  h1,
  .content-container h1 {
    font-size: 42px;
    line-height: normal;
  }

  .hero h2 {
    font-size: 17px;
  }

  .hero p {
    font-size: 22px;
  }

  .hero {
    padding: 80px 20px;
  }

  .content-container {
    text-align: center;
    padding: 0;
  }

  img.marina {
    max-width: 80%;
  }

  .btn-branding,
  .btn-branding-outline {
    font-size: 14px;
    padding: 13px 25px;
  }

  .logo {
    max-height: 50px;
    margin-top: 15px;
  }
}
